target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ
.idea/
*.iml
notebooks/examples/.ipynb_checkpoints/*
notebooks/examples/rheem-examples.ipynb
